{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <title>Persona | {% block title %}{% endblock %}</title>
</head>
<body class="account-container">
    <header class="account-header">
        <h1><a href="/">PERSONA</a></h1>
        <nav class="account-nav">
            <a href="/">Home</a>
            <a href="{% url 'account_login' %}">Sign In</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        </nav>
    </header>
    
    <main class="account-main">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="account-footer">
        <p>&copy; 2025 Persona. All Rights Reserved.</p>
    </footer>
</body>
</html>