{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="account-form-container">
        <h1>{% trans "Change Password" %}</h1>
        
        <form method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            
            {{ form.non_field_errors }}
            
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            
            <button type="submit">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock content %}
